<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>{{ page }} - {{ sitename }}</title>
</head>
<body>
    {% if not logged_in %}
        <a href="/login">Log in</a>
    {% endif %}
    {% include 'nav.html' %}
    <h1>{{ sitename }}</h1>
    <h2>{{ page }}</h2>
    <p>Coming soon to a browser near you...</p>
</body>
</html>